.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #319602; 
}



.center {
    display: flex;
    justify-content: center;
}